body {
    font-family: 'Overpass', sans-serif !important;
}

.state-of-art-container {
    background-color: #3a3d5cf3;
    /* background-image: url(./images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: normal;
    background-position: 0 -15rem; */
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.state-of-art-container__image {
    background-image: url(./images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -10rem;
}

/* 
.laptop-section {
    background-image: url(./images/illustration-laptop-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
} */



.laptop-section__title {
    color: hsl(208, 49%, 24%);
    font-weight: 600;
}

#mobile-phones {
    margin-top: -3rem;
}

@media screen and (min-width: 768px) {

    #mobile-phones {
        margin-top: -5rem;
    }

    #laptop-desktop {
        margin-left: -17.5rem;
    }
}

@media screen and (max-width: 768px) {

    #mobile-phones {
        margin-top: -7.5rem;
    }
}